.navbarContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#navbarLinks {
    margin-left: auto;
}

#page-title {
    text-align: center;
    margin-top: 50px;
}

#button-tray-1 {
    margin-left: 100px;
}