.navbarContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#navbarLinks {
    margin-left: auto;
}

#page-title {
    text-align: center;
    margin-top: 50px;
}

#button-tray-1 {
    margin-left: 100px;
}

#footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 62px;
}

#footer-social-media {
    float: right;
}