.navbarContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#navbarLinks {
    margin-left: auto;
}

#page-title {
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.input-output-textarea {
    border: 1px black solid;
    border-radius: 5px;
}

#button-tray-input {
    margin-bottom: 20px;
    /* margin-left: 66%; */
}

#button-tray-output {
    /* width: 100%; */
    margin-bottom: 20px;
    /* margin-left: 100%; */
}

.text-box-title {
    padding: 10px;
    width: 100%;
    min-height: 40px;
    background: #f5f2f0;
}

#footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 62px;
}

#footer-social-media {
    float: right;
}