#navbarContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#navbarLinks {
  margin-left: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#page-title {
  text-align: center;
  margin-top: 75px;
}

#page-description {
  text-align: center;
  margin-bottom: 50px;
}

.wrapper {
  margin: 0 auto;
}

.input-output-textarea {
  border: 1px black solid;
  border-radius: 5px;
}

#button-tray-input {
  margin-bottom: 20px;
}

#button-tray-output {
  margin-bottom: 20px;
}

.text-box-title {
  padding: 10px;
  width: 100%;
  min-height: 40px;
  background: #f5f2f0;
}

.copy-btn {
  float: right;
}

#second-row {
  margin-top: 50px;
  margin-bottom: 75px;
}

#database-dropdown-container {
  margin-bottom: 15px;
}

#footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 62px;
}

#footer-social-media {
  float: right;
}

@media only screen and (max-device-width: 575px) {
  #button-tray-output {
    margin: 30px 0px 20px 0px;
    border-top: black 1px solid;
    padding: 20px 0px 0px 0px;
  }
}
